{% extends 'first_task/base.html' %}

{% block title %}Корзина{% endblock %}

{% block content %}

<h1>Ваша корзина</h1>
<div class="cart" id="cart">
    <ul id="cart-items"></ul>
    <p id="total-price">ИТОГО: 0.00</p>
    <p id="empty-cart-message" style="display: none;">Извините, Ваша корзина пуста</p>
</div>

<button id="empty-cart-button" style="display: none;">Очистить корзину</button>

<script>
    // Retrieve cart items from local storage
    const cartItems = JSON.parse(localStorage.getItem('cartItems')) || [];
    const totalPrice = parseFloat(localStorage.getItem('totalPrice')) || 0;

    function displayCart() {
        const cartItemsElement = document.getElementById('cart-items');
        const emptyCartMessage = document.getElementById('empty-cart-message');
        const emptyCartButton = document.getElementById('empty-cart-button');
        cartItemsElement.innerHTML = ''; // Clear previous cart items

        if (cartItems.length === 0) {
            emptyCartMessage.style.display = 'block';
            document.getElementById('total-price').style.display = 'none';
            emptyCartButton.style.display = 'none';
        } else {
            emptyCartMessage.style.display = 'none';
            document.getElementById('total-price').style.display = 'block';
            emptyCartButton.style.display = 'inline-block';

            cartItems.forEach(item => {
                const li = document.createElement('li');
                li.textContent = item;
                cartItemsElement.appendChild(li);
            });

            document.getElementById('total-price').textContent = 'ИТОГО: ' + totalPrice.toFixed(2);
        }
    }

    function emptyCart() {
        localStorage.removeItem('cartItems');
        localStorage.removeItem('totalPrice');
        cartItems.length = 0;
        displayCart();
    }

    document.getElementById('empty-cart-button').addEventListener('click', emptyCart);

    displayCart();
</script>
{% endblock %}
