{% extends 'first_task/base.html' %}

{% block title %}Магазин компьютерных игр{% endblock %}

{% block content %}
<style>
    .game {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
    }
</style>

<h1>Магазин компьютерных игр</h1>
<div id="game-list">
    {% for game in games %}
    <div class="game">
        <h2>{{ game.title }}</h2>
        <p>{{ game.description }}</p>
        <p>Цена: {{ game.cost }}</p>
        <button onclick="addToCart('{{ game.title }}', {{ game.cost }})">Купить</button>
    </div>
    {% empty %}
        <p>Нет доступных игр.</p>
    {% endfor %}
</div>

<!-- Пагинация -->
<div class="pagination">
    <span class="step-links">
        {% if games.has_previous %}
            <a href="?page=1">&laquo; Первая</a>
            <a href="?page={{ games.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ games.number }} из {{ games.paginator.num_pages }}.
        </span>

        {% if games.has_next %}
            <a href="?page={{ games.next_page_number }}">Следующая</a>
            <a href="?page={{ games.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
    </span>
</div>

<script>
    let cartItems = JSON.parse(localStorage.getItem('cartItems')) || [];
    let totalPrice = parseFloat(localStorage.getItem('totalPrice')) || 0;

    function addToCart(gameName, gamePrice) {
        cartItems.push(gameName);
        totalPrice += gamePrice;
        localStorage.setItem('cartItems', JSON.stringify(cartItems));
        localStorage.setItem('totalPrice', totalPrice);
    }
</script>

{% endblock %}
