{% extends 'first_task/base.html' %}

{% block title %}Магазин компьютерных игр{% endblock %}

{% block content %}
<style>
    .game {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
    }
</style>

<h1>Магазин компьютерных игр</h1>
<div id="game-list">
    {% for game in games %}
    <div class="game">
        <h2>{{ game.title }}</h2>
        <p>{{ game.description }}</p>
        <p>Цена: {{ game.cost }}</p>
        <button onclick="addToCart('{{ game.title }}', {{ game.cost }})">Купить</button>
    </div>
    {% endfor %}
</div>

<script>
    let cartItems = JSON.parse(localStorage.getItem('cartItems')) || [];
    let totalPrice = parseFloat(localStorage.getItem('totalPrice')) || 0;

    function addToCart(gameName, gamePrice) {
        cartItems.push(gameName);
        totalPrice += gamePrice;
        localStorage.setItem('cartItems', JSON.stringify(cartItems));
        localStorage.setItem('totalPrice', totalPrice);
    }
</script>

{% endblock %}
